<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ScalastyleBuilder"
         name="%ScalastyleBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.scalastyle.scalastyleplugin.builder.ScalastyleBuilder" />
      </builder>
   </extension>
   <extension
         id="ScalastyleNature"
         name="%ScalastyleNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.scalastyle.scalastyleplugin.nature.ScalastyleNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="ScalastyleMarker"
         name="%ScalastyleMarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super    
            type="org.eclipse.jdt.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="ModuleName">
      </attribute>
      <attribute
            name="MessageKey">
      </attribute>
      <attribute name="categoryId"/>
   </extension>   
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="org.scalastyle.scalastyleplugin.error"         
            markerType="org.scalastyle.scalastyleplugin.ScalastyleMarker"
            markerSeverity="2">
      </type>
      <type
            name="org.scalastyle.scalastyleplugin.info"         
            markerType="org.scalastyle.scalastyleplugin.ScalastyleMarker"
            markerSeverity="1">
      </type>
      <type
            name="org.scalastyle.scalastyleplugin.info"         
            markerType="org.scalastyle.scalastyleplugin.ScalastyleMarker"
            markerSeverity="0">
      </type>
   </extension>

    <extension
        point="org.eclipse.ui.popupMenus">
        <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.scalastyle.scalastyleplugin.projects">
            <menu
                id="org.scalastyle.scalastyleplugin.menu"
                label="%Scalastyle.menu"
                path="additions">
                <separator name="content">
                </separator>
            </menu>
            </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.scalastyle.scalastyleplugin.actions.object.AddScalastyleNatureAction">
         <action
               class="org.scalastyle.scalastyleplugin.actions.AddScalastyleNatureAction"
               enablesFor="+"
               id="org.scalastyle.scalastyleplugin.actions.AddScalastyleNatureAction"
               label="%AddScalastyleNature.name"
               menubarPath="org.scalastyle.scalastyleplugin.menu/content"
               tooltip="Adds support for Scalastyle to a project">
         </action>
       
    </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.scalastyle.scalastyleplugin.actions.object.RemoveScalastyleNatureAction">
         <action
               class="org.scalastyle.scalastyleplugin.actions.RemoveScalastyleNatureAction"
               enablesFor="+"
               id="org.scalastyle.scalastyleplugin.actions.RemoveScalastyleNatureAction"
               label="%RemoveScalastyleNature.name"
               menubarPath="org.scalastyle.scalastyleplugin.menu/content"
               tooltip="Removes support for Scalastyle from a project">
         </action>
       
    </objectContribution>

    </extension>    

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Scalastyle"
            class="org.scalastyle.scalastyleplugin.preferences.ScalastylePreferencePage"
            id="org.scalastyle.scalastyleplugin.preferences.ScalastylePreferencePage">
      </page>
   </extension>

</plugin>
